module.exports = {
    feeds: {
        nhl: {
            enabled: true,
            url: 'https://statsapi.web.nhl.com/api/v1/schedule?startDate={0}&endDate={1}'    // yyyy-mm-dd
        },
        weather: {
            enabled: true,
            url: 'https://api.wunderground.com/api/{api-key}/forecast/q/{0}.json'
        }
    },
    users: [
        {
            enabled: true,
            mobile: '+18885551212',
            name: 'Jane Doe',
            feeds: [
                {
                    enabled: true,
                    name: 'nhl',
                    teams: [ 17 ]   // 17 = Red Wings
                },
                {
                    enabled: true,
                    name: 'weather',
                    zipCodes: [ 60657 ]
                }
            ]
        },

    ]
}